<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista de Notificações</title>
</head>
<body>
<h1>Lista de Notificações</h1>

<h2>Notificações de Entrada</h2>
<table border="1">
  <thead>
  <tr>
    <th>ID Movimentação</th>
    <th>Mensagem</th>
    <th>Data</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="notification : ${entryData}">
    <td th:text="${notification.movimentId}"></td> <!-- Ajustado aqui -->
    <td th:text="${notification.mensage}"></td>
    <td th:text="${#temporals.format(notification.dateNotification, 'dd/MM/yyyy HH:mm')}"></td>
  </tr>
  </tbody>
</table>

<h2>Notificações de Saída</h2>
<table border="1">
  <thead>
  <tr>
    <th>Produto</th>
    <th>Mensagem</th>
    <th>Data</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="notification : ${exitData}">
    <td th:text="${notification.productName}"></td> <!-- Ajustado aqui -->
    <td th:text="${notification.mensage}"></td>
    <td th:text="${#temporals.format(notification.dateNotification, 'dd/MM/yyyy HH:mm')}"></td>
  </tr>
  </tbody>
</table>

<h2>Deletar Notificação</h2>
<form th:action="@{/notificacoes/deletar/{id}(id=${notification.id})}" method="post">
  <label for="id">ID da Notificação:</label>
  <input type="text" id="id" name="id" required>
  <button type="submit">Deletar</button>
</form>
</body>
</html>
