<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="/css/produtos-list.css">
</head>
<body>
<h1>Produtos</h1>
<a href="/produtos/novo">Adicionar Novo</a>
<table border="1">
    <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th>Categoria</th>
        <th>Fornecedor</th>
        <th>Ações</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.quantity}"></td>
        <td th:text="${product.categoryProduct}"></td>
        <td th:text="${product.provider.name}"></td>
        <td>
            <a th:href="@{/produtos/editar/{id}(id=${product.id})}">Editar</a> |
            <a th:href="@{/produtos/deletar/{id}(id=${product.id})}" onclick="return confirm('Tem certeza?')">Excluir</a>
        </td>
    </tr>
</table>
<button onclick="window.location.href='/'">Voltar</button>
</body>
</html>