<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela Inicial - Sistema de Estoque</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<h1>Bem-vindo ao Sistema de Gestão de Estoque</h1>

<div class="button-container">
  <button onclick="window.location.href='/movimentacoes'">Ir para Movimentações de Estoque</button>
  <button onclick="window.location.href='/notificacoes/listar'">Ir para Notificações de Estoque</button>
  <button onclick="window.location.href='/produtos'">Ir para Cadastro de Produtos</button>
  <button onclick="window.location.href='/fornecedores/listar'">Ir para Cadastro de Fornecedores</button>
</div>

</body>
</html>