<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movimentações de Estoque</title>
    <link rel="stylesheet" href="/css/movimentacoes-listar.css">
</head>
<body>
<h1>Movimentações de Estoque</h1>
<a href="/movimentacoes/novo">Registrar Nova Movimentação</a>
<table>
    <thead>
    <tr>
        <th>Produto</th>
        <th>Tipo</th>
        <th>Quantidade</th>
        <th>Data</th>
        <th>Hora</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movimentacao : ${movimentacoes}">
        <td th:text="${movimentacao.product.name}"></td>
        <td th:text="${movimentacao.typeMoviment}"></td>
        <td th:text="${movimentacao.amounts}"></td>
        <td th:text="${movimentacao.date}"></td>
        <td th:text="${movimentacao.time}"></td>
        <td class="actions">
            <a th:href="@{/movimentacoes/editar/{id}(id=${movimentacao.id})}">Editar</a> |
            <a th:href="@{/movimentacoes/deletar/{id}(id=${movimentacao.id})}">Deletar</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>